.App {
}

.landing-page-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 20vw 1fr;
  width: 100vw;
  height: 100vh;
  background-color: pink;
}

.landing-page-content {
  grid-row: 1/2;
  grid-column: 2/3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-content-profile {
  display: grid;
  grid-template-rows: repeat(20, 1fr);
  grid-template-columns: 20vw repeat(8, 1fr);
  grid-gap: 0.5em;
  width: 100vw;
  height: 200vh;
  background-color: pink;
}

.section {
  background-color: lightgray;
}

.profile-data {
  position: fixed;
  width: 20vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-component {

}

.login-submit {
  float: right;
  margin: 1em;
}

.login-component p {
  clear: right;
}

.login-component a {
  text-decoration: none;
}

.register-component {

}

.register-input {
  height: 2em;
}

.register-submit {
  float: right;
  margin: 1em;
}

.register-component p {
  clear: right;
  font-size: 1em;
}

.register-component a {
  text-decoration: none;
}

.section-one {
  grid-row: 1/6;
  grid-column: 2/6;
}

.section-two {
  grid-row: 1/5;
  grid-column: 6/11;
}

.section-three {
  grid-row: 6/11;
  grid-column: 2/6;
}

.section-four {
  grid-row: 5/11;
  grid-column: 6/11;
}

.section-five {
  grid-row: 11/16;
  grid-column: 2/11;
}

.section-six {
  grid-row: 16/21;
  grid-column: 2/7;
}

.section-seven {
  grid-row: 16/21;
  grid-column: 7/11;
}
